/* You can add global styles to this file, and also import other style files */
body {
    background: #007bff;
    background: linear-gradient(to left, #0062E6, #33AEFF);
  }
  
   .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

  .redondeado {
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }